{
  "extends": ["xo", "plugin:react/recommended"],
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "simple-import-sort"],
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "camelcase": "off",
    "new-cap": "off",
    "simple-import-sort/sort": "error",
    "capitalized-comments": "off",
    "operator-linebreak": "off"
  },
  "globals": {
    "window": true,
    "localStorage": true,
    "document": true
  }
}
